.hero {
  padding-block-start: 16px;
}

.hero-social {
  padding-block-end: 24px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}

.hero-image {
  text-align: center;
  block-size: auto;
  padding: 20px 0;
}

.hero-image img {
  height: 40vh;
}

.hero h1 {
  font: var(--headline3);
  margin: 0;
}

/*.hero h1 span:nth-of-type(1) {*/
.hero h1 span:first-child {
  font: var(--headline5);
  display: block;
}

@media screen and (min-width: 769px) {
  .hero {
    display: flex;
  }
  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }
  .hero-image {
    order: 2;
    text-align: center;
    flex: 1;
  }
  .hero-image img {
    height: 60vh;
  }
}
